@use './variables' as *;
@use 'sass:color';

.primary-btn {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
      color: $background-color;
    }
  
    &:disabled {
      background-color: color.adjust($primary-color, $lightness: 20%);
      color: $text-color;
      cursor: not-allowed;
    }
  }
  
  .btn-checkout {
    background-color: $primary-color;
    color: $background-color;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
    }
  }  