@use "sass:color";
@use './variables' as *;

.product-card {
  background-color: #fff;
  border: none;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
  }
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}

.product-content {
  padding: 1.2rem;
  text-align: center;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
  min-height: 48px; // para mantener altura uniforme
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: #0071e3; // azul tipo Apple
  margin-bottom: 0.5rem;
}

.product-stock {
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 1rem;
}

.product-btn {
  background-color: #0071e3;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}

  /* Estilos personalizados para las cards de confirmacion de compra */
.card-custom {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.card-title-custom {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.card-text-custom {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 2rem;
}