@use './variables' as *;
.item-count {
    text-align: center;
    margin: 1rem 0;
  
    h4 {
      font-size: 1.1rem;
      color: $text-color;
      margin-bottom: 1rem;
  
      .badge {
        background-color: $primary-color;
        color: $background-color;
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
      }
    }
}
  
    
