@use './variables' as *;
@use 'sass:color';

.navbar .nav-link:hover {
  background-color: transparent !important;
  text-decoration: underline;
}

// Estilos para el logo
.navbar-brand {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: $primary-color;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: $primary-color;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: color.adjust($primary-color, $lightness: -10%);
    
    &::after {
      width: 100%;
    }
  }
}
//Estilos para el icono del carrito
.cart-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: $primary-color;

  &:hover {
    background-color: transparent;
    color: color.adjust($primary-color, $lightness: -10%);
  }

  .cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
  }
}