$background-color: #f0f1f7;
$card-bg-color: #ffffff;
$primary-color: #406ff1;
$secondary-color: #7e93cc;
$text-color: #000000;
$text-muted: #7e93cc;
$border-color: #d8dced;
$font-family: 'Segoe UI', sans-serif;


// Tipografía
$font-family: 'Arial', sans-serif;
