// Colores
$primary-color: #EEF0EB;
$secondary-color: #F5F5F5;
$text-color: #000000;
$background-color: #F4F9E9;
$background-color-cards: #B4B8AB;
$background-color-button: #284B63;
$accent-color: #FF9500;
$background-internal-card: #EEF0EB;

// Tipografía
$font-family: 'Arial', sans-serif;
