// Colores
/*$primary-color: #EEF0EB;
$secondary-color: #F5F5F5;
$text-color: #000000;
$background-color: #F4F9E9;
$background-color-cards: #B4B8AB;
$background-color-button: #284B63;
$accent-color: #FF9500;
$background-internal-card: #EEF0EB; */

$background-color: #f0f1f7;
$card-bg-color: #ffffff;
$primary-color: #406ff1;
$secondary-color: #7e93cc;
$text-color: #000000;
$text-muted: #7e93cc;
$border-color: #d8dced;
$font-family: 'Segoe UI', sans-serif;


// Tipografía
$font-family: 'Arial', sans-serif;
