@use '../styles/variables' as *;

.hero-carousel {
  margin-top: 1rem;

  .carousel-control-prev:hover,
    .carousel-control-next:hover {
      background-color: transparent !important;
  }

  .carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
    border-radius: 12px;
    backdrop-filter: blur(4px);

    h3 {
      color: $background-color;
      font-size: 2rem;
      font-weight: 700;
    }

    p {
      color: $background-color;
      font-size: 1.1rem;
    }
  }
}
