@use "sass:color";
@use './variables' as *;
@use './buttons';
@use './cards';
@use './itemCount';
@use './modals';
@use './navbar';

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:not(.navbar-brand):hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}